.bar{
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.red:hover{
background-color: rgb(234, 99, 99);
border-radius: 10px;
transition: 2s;
transform:scale(0.9);
} 

.img{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly; 
  
}
@media screen and( min-width:200px) {
    .img{
     flex-wrap: wrap;
    }
  }
  .burger{
    text-align: center;
    color: rgb(234, 99, 99);
  }

  .home{
    transition: 2s;
  
  }
  .home:hover{
    cursor: pointer;
 transform: scale(0.9);
 box-shadow: 3px 3px 0px 0px;
 
}


.name{
position: relative;
left: 40%;
  width: 300px;
  text-align: center;
  color: rgb(234, 99, 99);
   border-bottom: 4px solid rgb(234, 99, 99);
   border-radius:50px;
  margin-top: 40px;
  font-size: 30px;

}
.div{
  display: flex;
  flex-wrap: wrap;
  
}
@media screen and (max-width:300px) {
  .div{
    flex-wrap: wrap;
  }
}
.div1{
  display: block;
height: 400px;
margin-left:24%;
margin-bottom: 10px;
transition: 2s;
}
.div1:hover{
  transform: scale(0.9);
  cursor: pointer;
}

.div2{

  text-align: center;
}






 
 
.footer{
  
  display: flex;
  justify-content: space-around;
   flex-wrap: wrap;
    
  }
  
  .main-footer{
    height:auto;
    width: 100%;
    border: 2px solid;
    background-color:rgb(41, 41, 48);
    color:white;
    margin-top: 50px;
    padding-top:50px ;
  }
  
  .icon {
    text-align: center;
    margin: 10px 0px;
  
  }
  @media  screen and (max-width:300px){
  .footer{
    flex-wrap: wrap;
  }
  }
  .type{
    /* display: flex; */
    /* flex-wrap: wrap; */
  
  }
  @media screen and(max-width:300px) {
    .type{
     text-align: center;
     /* margin-bottom: 50px; */
    }
  }
    .height{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin-bottom: 10px;
   
    }
    .type2{
      text-align: center;
    
  
    }
    .type3{
      text-align: center;
    }
  .img20{
    /* display: flex; */
    /* flex-wrap:wrap; */
    /* justify-content: space-evenly; */
    height: 40px; 
    position: relative;
    left: 90%;
    top: 50%;
     margin-left:30px ;
  }
  
  @media screen and (max-width:300px) {
    .img20{
      /* flex-wrap: wrap; */
    }
  }
  .since{
    text-align: center;
    position: relative;
    top: 40px;
     left: 35%;
  }